body {
    font-family: 'Josefin Sans';
    background-image: url('mizner-edit.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15%;
}

h1, h2, h3 {
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 2.7rem;
}

header {
    padding-bottom: 1%;
}
